<a href="https://colab.research.google.com/github/sushil1902/Projects/blob/Proj/afghanistan_conflict_displacements_2021_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
np.set_printoptions(precision = 4)  # To display value  only upto 4 decimal place

import pandas as pd
pd.set_option('mode.chained_assignment',None)   # To Supress pandas warning
pd.set_option('display.max_colwidth',-1)         # To display all the data in each column
pd.options.display.max_columns = 50              # To display every column of the dataset in head()

import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')             # to apply seaborn whitegrid, classic style to the plots
%matplotlib inline

import seaborn as sns
sns.set(style='whitegrid',font_scale=1.3, color_codes= True)   # To adjust seaborn setting for plot

import warnings
warnings.filterwarnings('ignore')         # To Supress all the warning in notebook

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

In [3]:
af_conf_data = pd.read_csv('https://raw.githubusercontent.com/sushil1902/Datasets/main/afghanistan_conflict_displacements_2021.csv')

In [4]:
af_conf_data.head()

,DISP_DATE,ORIG_PROV_CODE,ORIG_PROV_NAME,ORIG_DIST_CODE,ORIG_DIST_NAME,DISP_PROV_CODE,DISP_PROV_NAME,DISP_DIST_CODE,DISP_DIST_NAME,DISP_IND,DISP_FAM,DISP_ADULT_MALE,DISP_ADULT_FEMALE,DISP_CHILDREN_U18
0,1-01-21,6,Nangarhar,604.0,Khogyani,6,Nangarhar,601,Jalalabad,217,31,42.0,45.0,130.0
1,01-01-21,28,Faryab,2806.0,Qaysar,28,Faryab,2801,Maymana,931,133,NaN,NaN,NaN
2,01-01-21,28,Faryab,2802.0,Khwajasabzposh,28,Faryab,2801,Maymana,861,123,NaN,NaN,NaN
3,01-01-21,28,Faryab,2805.0,Almar,28,Faryab,2801,Maymana,7,1,NaN,NaN,NaN
4,01-01-21,28,Faryab,2803.0,Pashtunkot,28,Faryab,2801,Maymana,28,4,NaN,NaN,NaN

In [5]:
af_conf_data.shape

(1178, 14)

In [6]:
af_conf_data.describe()

,ORIG_PROV_CODE,ORIG_DIST_CODE,DISP_PROV_CODE,DISP_DIST_CODE,DISP_IND,DISP_FAM,DISP_ADULT_MALE,DISP_ADULT_FEMALE,DISP_CHILDREN_U18
count,1178.000000,1176.000000,1178.000000,1178.000000,1178.000000,1178.000000,61.000000,61.000000,61.000000
mean,21.227504,2126.948980,20.856537,2087.269100,602.749576,90.038200,167.721311,186.114754,618.491803
std,9.134185,913.424112,10.280218,1027.648729,1900.441186,278.395969,374.218881,442.352126,1429.256609
min,1.000000,101.000000,1.000000,101.000000,3.000000,1.000000,1.000000,1.000000,1.000000
25%,15.000000,1477.750000,13.000000,1308.000000,41.250000,6.000000,7.000000,7.000000,29.000000
50%,21.000000,2107.000000,26.000000,2601.000000,112.000000,17.000000,42.000000,45.000000,113.000000
75%,29.000000,2905.000000,30.000000,3001.000000,350.000000,50.000000,125.000000,136.000000,456.000000
max,34.000000,3405.000000,34.000000,3401.000000,31836.000000,4548.000000,2293.000000,2882.000000,7471.000000

In [7]:
af_conf_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1178 entries, 0 to 1177
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DISP_DATE          1178 non-null   object
 1   ORIG_PROV_CODE     1178 non-null   int64
 2   ORIG_PROV_NAME     1178 non-null   object
 3   ORIG_DIST_CODE     1176 non-null   float64
 4   ORIG_DIST_NAME     1177 non-null   object
 5   DISP_PROV_CODE     1178 non-null   int64
 6   DISP_PROV_NAME     1178 non-null   object
 7   DISP_DIST_CODE     1178 non-null   int64
 8   DISP_DIST_NAME     1178 non-null   object
 9   DISP_IND           1178 non-null   int64
 10  DISP_FAM           1178 non-null   int64
 11  DISP_ADULT_MALE    61 non-null     float64
 12  DISP_ADULT_FEMALE  61 non-null     float64
 13  DISP_CHILDREN_U18  61 non-null     float64
dtypes: float64(4), int64(5), object(5)
memory usage: 129.0+ KB

In [8]:
af_conf_data.isna().sum()

DISP_DATE            0
ORIG_PROV_CODE       0
ORIG_PROV_NAME       0
ORIG_DIST_CODE       2
ORIG_DIST_NAME       1
DISP_PROV_CODE       0
DISP_PROV_NAME       0
DISP_DIST_CODE       0
DISP_DIST_NAME       0
DISP_IND             0
DISP_FAM             0
DISP_ADULT_MALE      1117
DISP_ADULT_FEMALE    1117
DISP_CHILDREN_U18    1117
dtype: int64

In [9]:
af_conf_data.isnull().sum()

DISP_DATE            0
ORIG_PROV_CODE       0
ORIG_PROV_NAME       0
ORIG_DIST_CODE       2
ORIG_DIST_NAME       1
DISP_PROV_CODE       0
DISP_PROV_NAME       0
DISP_DIST_CODE       0
DISP_DIST_NAME       0
DISP_IND             0
DISP_FAM             0
DISP_ADULT_MALE      1117
DISP_ADULT_FEMALE    1117
DISP_CHILDREN_U18    1117
dtype: int64

In [12]:
af_conf_data['ORIG_DIST_CODE'].replace("",np.nan,inplace= True);
af_conf_data.dropna(subset=['ORIG_DIST_CODE'],inplace = True);
af_conf_data['ORIG_DIST_NAME'].replace("",np.nan,inplace= True)
af_conf_data.dropna(subset=['ORIG_DIST_NAME'],inplace = True);
af_conf_data['DISP_ADULT_MALE'].replace("",np.nan,inplace= True)
af_conf_data.dropna(subset=['DISP_ADULT_MALE'],inplace = True);
af_conf_data['DISP_ADULT_FEMALE'].replace("",np.nan,inplace= True)
af_conf_data.dropna(subset=['DISP_ADULT_FEMALE'],inplace = True);
af_conf_data['DISP_CHILDREN_U18'].replace("",np.nan,inplace= True)
af_conf_data.dropna(subset=['DISP_CHILDREN_U18'],inplace = True);

In [13]:
af_conf_data.isnull().sum()

DISP_DATE            0
ORIG_PROV_CODE       0
ORIG_PROV_NAME       0
ORIG_DIST_CODE       0
ORIG_DIST_NAME       0
DISP_PROV_CODE       0
DISP_PROV_NAME       0
DISP_DIST_CODE       0
DISP_DIST_NAME       0
DISP_IND             0
DISP_FAM             0
DISP_ADULT_MALE      0
DISP_ADULT_FEMALE    0
DISP_CHILDREN_U18    0
dtype: int64

In [14]:
af_conf_data.shape

(61, 14)

In [15]:
af_conf_data.columns

Index(['DISP_DATE', 'ORIG_PROV_CODE', 'ORIG_PROV_NAME', 'ORIG_DIST_CODE',
       'ORIG_DIST_NAME', 'DISP_PROV_CODE', 'DISP_PROV_NAME', 'DISP_DIST_CODE',
       'DISP_DIST_NAME', 'DISP_IND', 'DISP_FAM', 'DISP_ADULT_MALE',
       'DISP_ADULT_FEMALE', 'DISP_CHILDREN_U18'],
      dtype='object')

In [16]:
af_conf_data['DISP_DATE'] = pd.DatetimeIndex(af_conf_data['DISP_DATE']).month

In [17]:
af_conf_data.head(2)

,DISP_DATE,ORIG_PROV_CODE,ORIG_PROV_NAME,ORIG_DIST_CODE,ORIG_DIST_NAME,DISP_PROV_CODE,DISP_PROV_NAME,DISP_DIST_CODE,DISP_DIST_NAME,DISP_IND,DISP_FAM,DISP_ADULT_MALE,DISP_ADULT_FEMALE,DISP_CHILDREN_U18
0,1,6,Nangarhar,604.0,Khogyani,6,Nangarhar,601,Jalalabad,217,31,42.0,45.0,130.0
13,1,33,Kandahar,3302.0,Arghandab,33,Kandahar,3301,Kandahar / Dand,2939,400,507.0,539.0,1893.0

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [19]:
af_conf_data['ORIG_PROV_NAME'] = le.fit_transform(af_conf_data['ORIG_PROV_NAME'])
af_conf_data['ORIG_DIST_NAME'] = le.fit_transform(af_conf_data['ORIG_DIST_NAME'])
af_conf_data['DISP_PROV_NAME'] = le.fit_transform(af_conf_data['DISP_PROV_NAME'])
af_conf_data['DISP_DIST_NAME'] = le.fit_transform(af_conf_data['DISP_DIST_NAME'])

In [20]:
af_conf_data.head()

,DISP_DATE,ORIG_PROV_CODE,ORIG_PROV_NAME,ORIG_DIST_CODE,ORIG_DIST_NAME,DISP_PROV_CODE,DISP_PROV_NAME,DISP_DIST_CODE,DISP_DIST_NAME,DISP_IND,DISP_FAM,DISP_ADULT_MALE,DISP_ADULT_FEMALE,DISP_CHILDREN_U18
0,1,6,6,604.0,16,6,4,601,4,217,31,42.0,45.0,130.0
13,1,33,3,3302.0,1,33,2,3301,5,2939,400,507.0,539.0,1893.0
14,1,33,3,3308.0,19,33,2,3301,5,74,12,14.0,13.0,47.0
15,1,33,3,3304.0,25,33,2,3301,5,3222,457,488.0,522.0,2212.0
16,1,33,3,3303.0,35,33,2,3301,5,1135,157,191.0,182.0,762.0

In [21]:
X = af_conf_data.drop(['DISP_DATE','DISP_IND'],axis=1)

In [22]:
y = af_conf_data['DISP_IND']

In [23]:
X.shape

(61, 12)

In [26]:
y.shape

(61,)

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20)

In [28]:
model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [29]:
y_pred =model.predict(X_test)

In [31]:
print('Training accuracy : ',model.score(X_train,y_train))
print('Test Accuracy : ',model.score(X_test,y_test))

Training accuracy :  0.7083333333333334
Test Accuracy :  0.0

In [32]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20)

In [33]:
model1 = LinearRegression()
model1.fit(X_train,y_train)

LinearRegression()

In [34]:
y_pred = model1.predict(X_test)

In [35]:
print('Training accuracy : ',model1.score(X_train,y_train))
print('Test Accuracy : ',model1.score(X_test,y_test))

Training accuracy :  0.9999548024187094
Test Accuracy :  0.9998683267652134

In [36]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20)

In [37]:
model2 = DecisionTreeRegressor(max_depth=7)
model2.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=7)

In [38]:
y_pred = model2.predict(X_test)

In [39]:
print('Training accuracy : ',model2.score(X_train,y_train))
print('Test Accuracy : ',model2.score(X_test,y_test))

Training accuracy :  0.9999971638926997
Test Accuracy :  0.7337279433661104

In [40]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20)

In [41]:
model3 = RandomForestRegressor(n_estimators=100,random_state=123)
model3.fit(X_train,y_train)

RandomForestRegressor(random_state=123)

In [42]:
y_pred = model3.predict(X_test)

In [43]:
print('Training accuracy : ',model3.score(X_train,y_train))
print('Test Accuracy : ',model3.score(X_test,y_test))

Training accuracy :  0.9860873250626079
Test Accuracy :  0.9777384187707235

# The END